<div [ngStyle]="style" class="editable-component">
  <input
    *ngIf="isActiveInput"
    [type]="type"
    (keydown.escape)="cancelUpdate()"
    (keyup.enter)="updateEntity()"
    [(ngModel)]="entity[entityField]"
    [value]="entity[entityField]"
    class="{{ className }}"
  />
  <span *ngIf="!isActiveInput" class="inline {{ className }}">{{
    transformView(entity[entityField])
  }}</span>
  <div class="inline ml-2">
    <button
      *ngIf="!isActiveInput"
      class="btn btn-sm btn-warning btn-editatble"
      (click)="isActiveInput = true"
    >
      Edit
    </button>
    <button
      *ngIf="isActiveInput"
      class="btn btn-sm btn-success btn-editatble mr-2"
      (click)="updateEntity()"
    >
      Save
    </button>
    <button
      *ngIf="isActiveInput"
      class="btn btn-sm btn-danger btn-editatble"
      (click)="cancelUpdate()"
    >
      Cancel
    </button>
  </div>
</div>
